@media(min-width: 1120px){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.7rem;
    }
    .container{
       font-size: 1.6rem; 
    }
    .foto{
        width: 12rem;
        height: 12rem;
    }
    .foto_dos{
        width: 12rem;
        height: 12rem;
    }
}