@media (min-width: 230px){
   p{
       font-size: 1rem;
   }
  .container{
       font-size: 1rem;
   }
   .foto{ 
       margin-bottom: 18px;
       width: 10rem;
       height: 10rem;
       display: flex;   
   }

}

@media (min-width: 528px) {
    p{
        font-size: 1.2rem;
    }
    h1{
        font-size: 1.3rem;
    }
    .container{
        font-size: 1.2rem;
    }
    .foto{
      width: 8rem;
      height: 8rem;
      display: inline-block;
      border-radius: 50%;
    } 
}

