@media (min-width: 400px) and (max-width: 800px){
    .first{
     display: grid;
     align-items: center;
     display: flex;
    }
    .first img{
        width: 280px;
        height: 285px;
}

.SecondContainer{
    width: 400px;
    height: 300px;
}


.img__paragraph img{ 
    width: 13rem;
    height: 13rem;
   }
    p{
        font-size: 1.7rem;
    }
    .h1{
        font-size: 2.9rem;
    }
    .container{
        font-size: 2.1rem;
    }


}

@media (min-width: 800px) and (max-width: 1100px){
    .SecondContainer{
        width: 420px;
        height: 420px;
    }




}