@media (min-width: 766px){
    .first{
     display: grid;
     align-items: center;
     display: flex;
    }
    .first img{
        width: 284px;
        height: 285px;
}
.img__paragraph img{ 
    width: 13rem;
    height: 13rem;
   }
    p{
        font-size: 1.7rem;
    }
    .h1{
        font-size: 2.9rem;
    }
    .container{
        font-size: 2.1rem;
    }


}
